force-app/main/default/flows/Due_Date_Email_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Customer</name>
        <label>Send Email to Customer</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>varBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.BillToContact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>invoice of the products</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Email_Due_Date</name>
        <label>Email Due Date</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Due_Date_is_having_10_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DueDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varDueDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Customer</targetReference>
            </connector>
            <label>Is Due Date is having 10 Days...?</label>
        </rules>
    </decisions>
    <interviewLabel>Due Date Email Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Due Date Email Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_Due_Date</targetReference>
        </connector>
        <object>Invoice</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>varBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.BillToContact.FirstName} {!$Record.BillToContact.LastName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;As we have discussed before. I was sending the  Invoice in order to confirm from your end.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks &amp;amp; Regards&lt;/p&gt;&lt;p&gt;{!$User.FirstName} {!$User.LastName}&lt;/p&gt;&lt;p&gt;{!$User.CompanyName}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
