force-app/main/default/flows/Flow_Scenario_on_Custom_Object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assignment_Fields</name>
        <label>Assignment Fields</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>varAccountType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCleanStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Clean_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Text_Fields</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Text_Fields</name>
        <label>Text Fields</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Both_Text_Fields_are_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Type_Text__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Clean_Status_Text__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Custom_Object_Records</targetReference>
            </connector>
            <label>Is Both Text Fields are Null...?</label>
        </rules>
        <rules>
            <name>Is_One_Text_Field_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Type_Text__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Clean_Status_Text__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Specified_Field</targetReference>
            </connector>
            <label>Is One Text Field Null...?</label>
        </rules>
    </decisions>
    <interviewLabel>Flow Scenario on Custom Object {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Scenario on Custom Object</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Custom_Object_Records</name>
        <label>Update Custom Object Records</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Account_Type_Text__c</field>
            <value>
                <elementReference>varAccountType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clean_Status_Text__c</field>
            <value>
                <elementReference>varCleanStatus</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Specified_Field</name>
        <label>Update the Specified Field</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Account_Type_Text__c</field>
            <value>
                <elementReference>varAccountType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clean_Status_Text__c</field>
            <value>
                <elementReference>varCleanStatus</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assignment_Fields</targetReference>
        </connector>
        <object>Custom_Object__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varAccountType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCleanStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
