force-app/main/default/flows/Komal_Scenario.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assignment_Values</name>
        <label>Assignment Values</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>varRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Division_Role_Value</name>
        <label>Division Role Value</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>varDivision</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None Specified</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Division_Field_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Division_Value</name>
        <label>Division Value</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>varDivision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Division_Field</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Role</name>
        <label>Check Role</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_role_equals_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Division_Value</targetReference>
            </connector>
            <label>Is role equals Manager....?</label>
        </rules>
        <rules>
            <name>Is_Role_is_Not_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRole</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Division_Role_Value</targetReference>
            </connector>
            <label>Is Role is Not Manager...?</label>
        </rules>
    </decisions>
    <interviewLabel>Komal Scenario {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Komal Scenario</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Division_Field</name>
        <label>Update Division Field</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Division</field>
            <value>
                <elementReference>varDivision</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Division_Field_Value</name>
        <label>Update Division Field Value</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Division</field>
            <value>
                <elementReference>varDivision</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assignment_Values</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varDivision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
