force-app/main/default/flows/Platform_Event_Trigger_Flow_PPT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <interviewLabel>Platform Event Trigger Flow PPT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Platform Event Trigger Flow PPT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Publish_Platform_Event</name>
        <label>Publish Platform Event</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>Emiail__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Location__c</field>
            <value>
                <elementReference>Job_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Title__c</field>
            <value>
                <elementReference>Job_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Years_of_Experience__c</field>
            <value>
                <elementReference>Years_of_Experience</elementReference>
            </value>
        </inputAssignments>
        <object>Job_Search__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Employee_Information</name>
        <label>Employee Information</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Publish_Platform_Event</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Job_Location</name>
            <dataType>String</dataType>
            <fieldText>Job Location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Job_Title</name>
            <dataType>String</dataType>
            <fieldText>Job Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Years_of_Experience</name>
            <dataType>String</dataType>
            <fieldText>Years of Experience</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Employee_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
